# Key bindings, up/down arrow searches through history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward

# Enable case-insensitive tab completion
set completion-ignore-case On

# Treat hyphens and undersocres equally when auto complete
# This will only work on higher bash version (e.g. 4.x)
# For OSX please install newer bash
set completion-map-case on
